@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 2.25rem;
}

body {
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    align-items: center;
}

.container {
    width: 65vw;
}

main section {
    margin-top: 2.4rem;
}
