@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --color-main: hsl(240, 2%, 24%);
    --h1: 6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: 2.25rem;
}

body {
    font-family: 'Syne', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    align-items: center;
    color: var(--color-main);
    background-image: url(img/bg.svg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    width: 55vw;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.4rem;
}

.cv-photo {
    border-radius: 50%;
    height: var(--h1);
}

main section {
    margin-top: 2.4rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
    list-style-type: none;
    padding: 0;
}

.contact-link {
    color: var(--color-main);
}

footer .contact-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 2.4rem;
}